*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.msgs {
    width: 100vw;
    overflow-y: auto;
    background: rgb(128, 15, 0);
}
.msg{
    padding: 5px;
    font-size: 24px;
    background: #cfffc0;
    box-shadow: 2px 2px 2px #4da737;
    margin: 10px; 
}

form{
    width: 100vw;
}

form div {
    display: flex;
}

input{
    flex: 1;
    font-size: 24px;
}

button{
    font-size: 30px;
    background-color: #974949;
}


