<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin</title>
    <style>
        body{
            background: #f37777d7;
        }
        button{
            background: #ff7979d7;
        }
    </style>
</head>
<body>
    <form action="/autoreg" method="post">
    <input type="checkbox" name="autoreg"> Авто-регистрация 
    <button>Применить.</button>
    </form>

    <form action="/create_user" method="post">
        <div>{{ sysmsg }}</div>
        <div>
           
            <input type="text" name="username" placeholder="User..." value={{formuser}}>
            <input type="text" name="password" placeholder="Pass..." value={{formpass}}>
        </div>
        <button type="submit">Войти</button>
    </form>

    {% for u in users %}
        <form action="/delete_user" method="post">
        <input type="text" value="{{ u[0] }}" readonly name="user">  
        <button>Удалить.</button> 
        </form>
    {% endfor %}
</body>
</html>